html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-mt-custom{
  margin-top: 0.3rem !important;
}

.table-center{
  text-align: center !important;
}

tbody tr td {
  text-align-last: center !important;
  vertical-align: middle !important;
}

.text-custom-end {
  text-align-last: end !important;
  vertical-align: middle !important;
}

.px-10 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}